/* You can add global styles to this file, and also import other style files */

@import "primeflex/primeflex.css";
/* @import "bootstrap/dist/css/bootstrap-grid.min.css";
@import "bootstrap/dist/css/bootstrap-reboot.min.css" layer(bootstrap-reboot); */

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";



/* @layer bootstrap-reboot, primeng; */


html {
    font-size: 14px;
}
body, html{
    background-color: var(--gray-200);
}
.sap-nav-left{
    display: inline;
}
.sap-nav-right{   
    display: inline; 
    min-height: 45px;
    background-color:white;
}
.sap-nav-right .setting_dropdown{
    float: right;
}
.sap-nav-right .setting_dropdown .p-button{
    /* background: none;
    border: none !important;*/
    color: var(--gray-600);
} 
.sap-nav-right .setting_dropdown .p-button:not(:disabled):hover{
    border: none;
    outline: 0 none;
    outline-offset: 0px;
    box-shadow:none;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
}
.sap-nav-right .p-submenu-list {
    right: 0;
}

.sap-section{
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: white;
}